<% if bubble.messages.comments.any? %>
  <div class="bubble__detail bubble__comments">
    <span aria-hidden="true"><%= bubble.messages.comments.count %></span>
    <span class="for-screen-reader"><%= pluralize(bubble.messages.comments.count, "comment") %></span>
  </div>
<% end %>
